.site-hero-title {
	margin-bottom: 20px;
}

.presentation {
	margin-bottom: 40px;
}


.resume {
	margin-bottom: 40px;
}


.resume-title {
	border-bottom: 1px solid #000;
	padding-bottom: .5px;
	display: inline-block;
	margin-bottom: 16px;
}

.resume-text {
	margin-top: 8px;
	line-height: 1.6;
}

.aluras-icons-img {
	margin: 40px 0px;
	max-width: 100%
}

