.site-hero-title {
	margin-bottom: 40px;
}

.presentation {
	margin-bottom: 40px;
}

.resume {
	width: 50%;
}

.resume-title {
	border-bottom: 3px solid #000;
	padding-bottom: .5px;
	display: inline-block;
}

.resume-text {
	margin-top: 8px;
	line-height: 1.6;
}

.aluras-icons-img {
	margin: 40px 0px;
	max-width: 100%
}

